.float-left{
	float: left;
	width: 40%;
	height: 300px;
	margin:0 auto;
	padding-left: 10px;
	padding-right: 10px;
}

.float-right{
	float: left;
	width: 40%;
	height: 300px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
	}

p{
	font-size: 20px;
}

.facebook{
		position:fixed;
		bottom: 0px;
    right: 0px;
    width: 150px;
    height: 100px;
    background-color: teal;
	}

	a{
		text-decoration: none;
		text-align: center;
		color: white;
	}

	a:hover{
		color: black;
		text-decoration: underline;
	}

ul li{
	list-style-type: none;
	font-size:20px;
	margin: 5px;
}
